{% extends 'base.html' %}
{% load staticfiles %}
{% block blockbg %}
class="gray-bg"
{% endblock %}
{% block content %}
<!-- <body class="gray-bg"> -->      
<div class="col-sm-4 col-sm-offset-4 top-space">
        <div class="form-body animated fadeInDown">  
              <h1 class="text-center">Forgot Password</h1>
        </br>
              <form data-done='An email has been sent to your specified address, Please click on the link to reset your password !' data-failed='Error sending password-reset link !!!' action="{% url 'rest_password_reset' %}" method="post" accept-charset="utf-8" class="m-t ajax-post" role="form">
                    {% csrf_token %}
                  <div class="form-group">
                      <label for="email" class="from-title">Enter Email Id</label>
                      <input type="email" name="email" id="email" value="" class="form-control" placeholder="Email Id" required="">
                  </div>
                  <button type="submit" data-theme="g" name="submit" value="submit" class="btn btn-primary block full-width m-b">Submit</button>
              </form>
          </br>
              <p class="m-t text-center"> <small>Extreme Solutions All Rights Reserved &copy; 2019</small> </p>
        </div>
      </div>      
{% endblock %}
