{% extends 'base.html' %}
{% load staticfiles %}
{% block headblock %}
<script src="{% static "assets/js/init_login.js" %}"></script>
<!-- <script>
            if(!g_auth) {
            window.location.replace("{% url 'login' %}");
            }

            
</script> -->
{% endblock %}
{% block blockbg %}
class="gray-bg"
{% endblock %}
{% block content %}
<!-- <body class="gray-bg"> -->
<div class="col-sm-4 col-sm-offset-4 top-space">
        <div class="form-body animated fadeInDown">  
              <h1 class="text-center">Reset Password</h1>
        </br>
              <form id="loginForm" action="{% url 'rest_password_change' %}" data-success="Password changed successfully" data-fail="Password could't be changed successfully" method="post" accept-charset="utf-8" class="m-t ajax-token" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="new_password1" class="from-title">Enter New Password</label>
                      <input type="password" name="new_password1" id="new_password1" value="" class="form-control" placeholder="Password" required="">
                  </div>
                  <div class="form-group">
                      <label for="new_password2" class="from-title">Confirm Password</label>
                      <input type="password" name="new_password2" id="new_password2" value="" class="form-control" placeholder="Confirm Password" required="">
                  </div>
                  <button type="submit" data-theme="g" name="submit" value="submit" class="btn btn-primary block full-width m-b">Submit</button>
              </form>
          </br>
              <p class="m-t text-center"> <small>Extreme Solutions All Rights Reserved &copy; 2019</small> </p>
        </div>
      </div>
      <script>
          var error_response = function(data,msg){
  // $('.api-response').html("API Response: " + data.status + ' ' + data.statusText + '<br/>Content: ' + data.responseText);
  // alert("An error occured, Operation failed !");
  msgCritical("Error changing password !!! ","Failed");
  console.log(data.responseText);
}
var susccess_response = function(data,msg){
  // $('.api-response').html("API Response: OK<br/>Content: " + JSON.stringify(data));
  // alert("An error occured, Operation failed !");
  window.location.replace("{% url 'home' %}");
}
      </script>
{% endblock %}
