{% extends 'base.html' %}
{% load staticfiles %}
{% block blockbg %}
class="gray-bg"
{% endblock %}
{% block content %}
<!-- <body class="gray-bg"> -->      
<div class="col-sm-4 col-sm-offset-4 top-space">
        <div class="form-body animated fadeInDown">  
              <h1 class="text-center">Set a new Password</h1>
        </br>
              <form action="{% url 'rest_password_reset_confirm' %}" data-url="{% url 'login' %}" data-failed="Error creating password !!! " method="post" accept-charset="utf-8" class="m-t ajax-post" role="form">
                    {% csrf_token %}
                  <div class="form-group">
                        <input name="uid" type="hidden" id="uid">
                        <input name="token" type="hidden" id="token">
                      <label for="new_password1" class="from-title">Password</label>
                      <input type="password" name="new_password1" id="new_password1" value="" class="form-control" placeholder="Password">
                      <label for="new_password2" class="from-title">Repeat Password</label>
                      <input type="password" name="new_password2" id="new_password2" value="" class="form-control" placeholder="Repeat Password">
                  </div>
                  <button type="submit" data-theme="g" name="submit" value="submit" class="btn btn-primary block full-width m-b">Submit</button>
              </form>
          </br>
              <p class="m-t text-center"> <small>Extreme Solutions All Rights Reserved &copy; 2019</small> </p>
        </div>
      </div>
      <script type="text/javascript">
            var url_elements = window.location.pathname.split('/');
            if (url_elements.length == 7){
                var uid = url_elements[url_elements.length - 3];
                if (uid !== undefined){
                    $('input[name=uid]').val(uid);
                }
                var token = url_elements[url_elements.length - 2];
                if (token !== undefined){
                    $('input[name=token]').val(token);
                }
            }
      
        </script>
{% endblock %}
